html, body {
    overflow-x:hidden;
    background-color:pink;
    background-image: url('../images/icons/pattern.png');
}

body {
    overflow-y: hidden;
}

.container-fluid, .row > * {
    margin:0px!important;
    padding:0px!important;
}

.bg-gray {
    background-color:#f1f1f1;
}

.bg-white {
    background-color:#fff;
}

h1, h2 {
    margin: 1.5rem;
    font-family: 'Lobster', cursive;
}

h3 {
  font-family: 'Calistoga', cursive;
}  

h4 {
    margin: 1.5rem;
    font-family: 'Lobster', cursive;
    color:#fff;
}

h5 {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px #000!important;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
  position: relative;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #CE1523;
}

.overlay:hover {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#footer {
    background-color: #424652;
}

.footer-list {
    color:#fff;
    list-style: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .icons-table { float: right; margin-right: 10%; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .icons-table { float: right; margin-right: 10%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .icons-table { float: right; margin-top: 12%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icons-table { float: right; margin-top: 12%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .icons-table { float: right; margin-top: 12%; }
}